@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lexend', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.camera-overlay {
  background: linear-gradient(0deg, rgba(16, 34, 16, 0.4) 0%, rgba(16, 34, 16, 0) 20%, rgba(16, 34, 16, 0) 80%, rgba(16, 34, 16, 0.4) 100%);
}

.scan-frame {
  box-shadow: 0 0 0 9999px rgba(16, 34, 16, 0.4);
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.scan-line {
  animation: scan 2s linear infinite;
}

/* Custom transitions */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}